.login-box {
    padding: 10px;
    box-shadow: 0 0 4px 1px #aaa;
}

.login-form {
    width: 300px;
}

.btn-login {
    color: #fff;
    border: none;
    background-color: #00CD66;
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.link-back {
    color: #888;
    text-decoration: underline;
}