<main>
    <div class="row align-center justify-center">
        <form>
            <div class="row">
                <div class="cell-6 gutters">
                    <div class="data-box">
                        <label>
                            Nome fantasia:<br>
                            <input type="text" />
                        </label>
                    </div>
                    <div class="data-box">
                        <label>
                            Razão social:<br>
                            <input type="text" />
                        </label>
                    </div>
                    <div class="data-box">
                        <label>
                            CNPJ:<br>
                            <input type="text" />
                        </label>
                    </div>
                    <div class="data-box">
                        <label>
                            E-mail:<br>
                            <input type="text" />
                        </label>
                    </div>
                    <div class="data-box">
                        <label>
                            Senha:<br>
                            <input type="password" />
                        </label>
                    </div>
                </div>
                <div class="cell-6 gutters">
                    <div class="data-box">
                        <label>
                            CEP:<br>
                            <input type="text" />
                        </label>
                    </div>
                    <div class="data-box">
                        <label>
                            Rua:<br>
                            <input type="text" />
                        </label>
                    </div>
                    <div class="data-box">
                        <label>
                            Número:<br>
                            <input type="text" />
                        </label>
                    </div>
                    <div class="data-box">
                        <label>
                            Bairro:<br>
                            <input type="text" />
                        </label>
                    </div>
                    <div class="data-box">
                        <label>
                            Confirma senha:<br>
                            <input type="password" />
                        </label>
                    </div>
                </div>
                <div class="cell-12 justify-center gutters">
                    <button class="btn btn-alterar-perfil">Salvar</button>
                </div>
                <div class="cell-12 justify-center gutters">
                    <%= link_to "Voltar", sou_instituicao_path, class: "link-back" %>
                </div>
            </div>
        </form>
    </div>
</main>