<main>
    <div class="row align-center justify-center">
        <div class="login-box">
            <div>
                <h2></h2>
            </div>
            <div>
                <form class="login-form">
                    <div class="data-box">
                        <label>
                            CNPJ:<br>
                            <input type="text" />
                        </label>
                    </div>
                    <div class="data-box">
                        <label>
                            Senha:<br>
                            <input type="password" />
                        </label>
                    </div>
                    <button class="btn-login">Logar</button>
                </form>
                <%= link_to "Cadastre-se", sou_instituicao_cadastro_path, class: "link-back" %>
                <%= link_to "Voltar", root_path, class: "link-back" %>
            </div>
        </div>
    </div>
</main>