<div class="cell-auto gutters">
    <div class="action-row">
        <%= link_to "Adicionar necessidade", sou_instituicao_nova_necessidade_path, class: "btn" %>
    </div>
    <div class="row">
        <table>
            <thead>
                <tr>
                    <th>Necessidade</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Necessidade 1</td>
                    <td><button class="btn-action warning">X</button></td>
                </tr>
                <tr>
                    <td>Necessidade 2</td>
                    <td><button class="btn-action warning">X</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>