<div class="cell-auto gutters">
    <div class="row">
        <div class="cell-12">
            <%= form_for(@novanecessidade, url: sou_instituicao_nova_necessidade_create_path(@novanecessidade)) do |form| %>
                <div class="row">
                    <div class="cell-12">
                        <div class="data-box">
                            <label>
                                Necessidade:<br>
                                <%= form.text_field :descricao %>
                            </label>
                        </div>
                    </div>
                    <div class="cell-12">
                        <%= form.submit "Adicionar", class: "btn btn-alterar-perfil" %>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>