<div class="cell-auto gutters">
    <form action="" method="POST">
        <div class="row">
            <div class="cell-6">
                <div class="data-box">
                    <label>
                        nome fantasia:<br>
                        <input type="text" name="nome" />
                    </label>
                </div>
                <div class="data-box">
                    <label>
                        razão social:<br>
                        <input type="text" name="email" />
                    </label>
                </div>
                <div class="data-box">
                    <label>
                        CNPJ:<br>
                        <input type="text" name="suject" />
                    </label>
                </div>
                <div class="data-box">
                    <label>
                        e-mail:<br>
                        <input type="text" name="suject" />
                    </label>
                </div>
                <div class="data-box">
                    <label>
                        telefone:<br>
                        <input type="text" name="suject" />
                    </label>
                </div>
            </div>
            <div class="cell-6">
                <div class="data-box">
                    <label>
                        Rua:<br>
                        <input type="text" name="suject" />
                    </label>
                </div>
                <div class="data-box">
                    <label>
                        Número:<br>
                        <input type="text" name="suject" />
                    </label>
                </div>
                <div class="data-box">
                    <label>
                        Bairro:<br>
                        <input type="text" name="suject" />
                    </label>
                </div>
            </div>
            <div class="cell-12">
                <div class="data-box">
                    <button class="btn-contact-send">Enviar</button>
                </div>
            </div>
        </div>
    </form>
</div>