<div class="cell-auto gutters">
    <div class="row">
        <div class="cell-12">
            <form action="" method="POST" class="form-perfil">
                <div class="row">
                    <div class="cell-6 gutters">
                        <div class="data-box">
                            <label>
                                Nome fantasia:<br>
                                <input type="text" />
                            </label>
                        </div>
                        <div class="data-box">
                            <label>
                                Razão social:<br>
                                <input type="text" />
                            </label>
                        </div>
                    </div>
                    <div class="cell-6 gutters">
                        <div class="data-box">
                            <label>
                                Nome fantasia:<br>
                                <input type="text" />
                            </label>
                        </div>
                        <div class="data-box">
                            <label>
                                Razão social:<br>
                                <input type="text" />
                            </label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>