<% provide(:menu, "Menu") %>
<html>
    <body>
        <h1>Menu#index</h1>
        <p>Find me in app/views/layouts/menu.html.erb</p>
        <a><%= link_to "Home",   menu_about_path %></a>
    </body>
    </body> 
    
    
</html>