main {
    position: relative;
    top: 52px;
    width: 100%;
    padding: 0 20px;
    max-width: 1000px;
    margin: auto;
    box-sizing: border-box;
    min-height: calc(100vh - 92px);
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.page-title {
    font-weight: normal;
    font-size: 42px;
    color: #555;
    padding: 30px 0;
}

.normal-text {
    color: #555;
    line-height: 22px;
}

.justify-text {
    text-align: justify;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.align-center {
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 100%;
}

.row-reverse {
    flex-direction: row-reverse;
}

[class*="cell"] {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
}

.cell-12 {
    width: 100%;
}

.cell-9 {
    width: 75%;
}

.cell-8 {
    width: 66.66%;
}

.cell-6 {
    width: 50%;
}

.cell-5 {
    width: 41.66%;
}

.cell-auto {
    flex-grow: 1;
    flex-basis: auto;
}

.full-height {
    align-content: stretch;
}

.no-wrap {
    flex-wrap: nowrap;
}

.action-row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 15px;
    box-sizing: border-box;
    box-shadow: 0 0 2px 1px #aaa;
    border-radius: 2px;
    margin-bottom: 20px;
}

.gutters {
    padding: 20px;
    box-sizing: border-box;
}

.btn {
    padding: 10px;
    background-color: #00CD66;
    color: #fff;
    font-size: 16px;
    border: none;
}

.btn-action {
    //padding: 5px;
    background-color: #00CD66;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.warning {
    background-color: #FF4040;
}