<main>
    <div class="row justify-center">
        <div class="cell-12 justify-center">
            <h2 class="page-title">
                Sobre o Bem Santista
            </h2>
        </div>
        <div class="cell-9">
            <p class="normal-text justify-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin risus quam, vestibulum vitae facilisis non, sollicitudin in velit. Aliquam iaculis justo ac elit finibus, et consectetur ex mollis. Duis mattis ante sit amet enim dignissim congue. In hac habitasse platea dictumst. Suspendisse tempor ut arcu in lacinia. Quisque et faucibus urna. Mauris non finibus risus. Maecenas ac bibendum ipsum. Proin auctor mollis bibendum. In scelerisque lorem odio, nec dignissim augue ultricies pellentesque. Maecenas vulputate dui nec enim commodo, vitae venenatis ligula aliquam. In accumsan felis ut elit rutrum tempor. Donec tempus in nulla egestas tristique. Etiam tincidunt elit eget vestibulum porttitor. In semper tincidunt odio eget interdum. Quisque dapibus congue lobortis.
            </p>
        </div>
    </div>
</main>