<main>
    <div class="row justify-center">
        <div class="cell-12 justify-center">
            <h2 class="page-title">
                Sobre o Bem Santista
            </h2>
        </div>
        <div class="cell-9">
            <p class="normal-text justify-text">
                O Bem Santista atua na cidade de Santos, e aqui você encontra as principais Instituições, Organizações Não Governamentais, Associações que fazem trabalho de qualidade e de caráter humanitário para o município.<br><br>
                Aqui é desenvolvido um trabalho minucioso onde atestamos a veracidade das necessidades, e garantimos que sua ajuda, seja de mão de obra ou monetária, chegue as mãos daqueles que realmente necessitam.<br><br>
                Pense na ajuda ao próximo, esse é um ato altruísta que todas as pessoas deveriam adotar, pois ajuda não dói, nem machuca, muito menos fere, de modo contrário, apenas engrandece os seres humanos que a praticam. 
            </p>
        </div>
    </div>
</main>