<main>
    <div class="row justify-center">
        <div class="cell-12 justify-center">
            <h2 class="page-title">
                Fale conosco
            </h2>
        </div>
    </div>
    <div class="row justify-center">
        <div class="cell-6 justify-center">
            <form action="" method="POST" class="form-contact">
                <div class="data-box">
                    <label>
                        nome:<br>
                        <input type="text" name="nome" />
                    </label>
                </div>
                <div class="data-box">
                    <label>
                        email:<br>
                        <input type="text" name="email" />
                    </label>
                </div>
                <div class="data-box">
                    <label>
                        assunto:<br>
                        <input type="text" name="suject" />
                    </label>
                </div>
                <div class="data-box">
                    <label>
                        mensagem:<br>
                        <textarea rows="5"></textarea>
                    </label>
                </div>
                <div class="data-box">
                    <button class="btn-contact-send">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</main>