<main>
    <div class="row">
        <div class="cell-12 justify-center">
            <h2 class="page-title">Bem Santista</h2>
        </div>
        <div class="cell-6">
            <p class="normal-text justify-text">
                O Bem Santista nasceu da possibilidade de unir voluntários a Instituições de caráter humanitário. Um espaço onde você, que deseja ajudar, pode encontrar uma causa que se identifique e perto da sua moradia, trabalho ou escola.<br><br>
                Para você, instituição, um local exclusivo para a divulgação das suas necessidades, sem se perder em algoritmos de redes sociais como o Facebook.  Cadastre-se já!
            </p>
        </div>
        <div class="cell-6 justify-end">
            <%= image_tag("maps.png", alt: "Mapa", class: "img-map") %>
        </div>
    </div>
</main>