<main id="instituicoes" class="full-height">
    <div class="row">
        <div class="cell instituicoes-list-box">
            <ul>
                <li>local 1</li>
                <li>local 2</li>
            </ul>
        </div>
        <div class="cell-auto"></div>
    </div>
</main>