<main>
    <div class="row">
        <div class="cell-12 justify-center">
            <h2 class="page-title">
                Quem somos
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="cell-12">
        </div>
    </div>
    <div class="row">
        <div class="cell-12">
        </div>
    </div>
</main>