<main>
    <div class="row">
        <div class="cell-12 justify-center">
            <h2 class="page-title">
                Quem somos
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="cell-12 align-center no-wrap">
            <div>
                <%= image_tag("quem_somos/matheus.jpg", alt: "Matheus", class: "img-quemsomos") %>
            </div>
            <p class="normal-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="cell-12 row-reverse align-center no-wrap">
            <div>
                <%= image_tag("quem_somos/daniela.jpg", alt: "Matheus", class: "img-quemsomos") %>
            </div>
            <p class="normal-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
    </div>
</main>