<main>
    <div class="row">
        <div class="cell-12 justify-center">
            <h2 class="page-title">
                Quem somos
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="cell-12 align-center no-wrap">
            <div>
                <%= image_tag("quem_somos/matheus.jpg", alt: "Matheus", class: "img-quemsomos") %>
            </div>
            <p class="normal-text">
                Desenvolvedor Full-Stack com Node.js e Angular 2. Atualmente é full-stack developer na ItLab Brasil e um ávido estudando das novas tecnologias, procura sempre evoluir cada vez mais e ficar por dentro de todas as novidades.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="cell-12 row-reverse align-center no-wrap">
            <div>
                <%= image_tag("quem_somos/daniela.jpg", alt: "Matheus", class: "img-quemsomos") %>
            </div>
            <p class="normal-text">
                Jornalista, especialista em Marketing de Relacionamento e Desenvolvedora Web em formação. Atualmente é Social Media, da Iblanco Comunicação e Marketing apaixonada por textos, inovação e marketing digital.
            </p>
        </div>
    </div>
</main>