<div class="menu-admin">
    <nav>
        <ul>
            <li>
                <%= link_to "Necessidades", sou_instituicao_necessidades_path %>
            </li>
            <li>
                <%= link_to "Perfil", sou_instituicao_perfil_path %>
            </li>
            <li>
                <a href="#">Sair</a>
            </li>
        </ul>
    </nav>
</div>