<div class="menu-admin">
    <nav>
        <ul>
            <li>
                <a href="#">Necessidades</a>
            </li>
            <li>
                <a href="#">Perfil</a>
            </li>
            <li>
                <a href="#">Sair</a>
            </li>
        </ul>
    </nav>
</div>