<nav class="menu">
    <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><a href="#">Instituições</a></li>
        <li><%= link_to "Sobre", sobre_path %></li>
        <li><%= link_to "Quem Somos", quem_somos_path %></li>
        <li><a href="#">Contato</a></li>
        <li><a href="#">Sou Instituição</a></li>
    </ul>
</nav>