<nav class="menu">
    <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><a href="#">Instituições</a></li>
        <li><%= link_to "Sobre", about_path %></li>
        <li><a href="#">Quem somos</a></li>
        <li><a href="#">Contato</a></li>
        <li><a href="#">Sou Instituição</a></li>
    </ul>
</nav>