<% provide(:menu, "Menu") %>
<html>
<body>
<nav class="nav-bar">
        <ul class="nav-list " id="nav">
        	<li> <a> <img src=""></a></li>
            <li> <a href="home.html.erb"><i></i> Home</a></li>
            <li> <a href="sobre.html.erb"><i></i> Sobre </a></li>
            <li> <a href="verinstituicao.html.erb"><i></i> Ver Instituições</a></li>
            <li> <a href="quemsomos.html.erb"><i></i> Quem Somos </a></li>
            <li> <a href="contato.html.erb"><i ></i> Contato</a></li>
            <li> <a href="souinstituicao.html.erb"><i ></i> Sou Instituição</a></li>
        </ul>
</nav>
<body>
</html>